# TP2 - Rossmann Store Sales
Francisco Ledesma

In [9]:
import pandas as pd
import numpy as np
from pandas_summary import DataFrameSummary
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn_pandas import DataFrameMapper

In [2]:
df_train = pd.read_feather('feathers/all_preprocessed_train.fth')
df_test = pd.read_feather('feathers/all_preprocessed_test.fth')

In [3]:
df_train.shape, df_test.shape

((1017209, 81), (41088, 80))

In [4]:
# Verificación de que se hicieron bien las cosas en testa también
set(df_train.columns) - set(df_test.columns)

{'Customers', 'Sales'}

In [5]:
(df_train['CompetitionDistance'].isna()).sum()

0

## Categorical vars

In [6]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 
            'CompetitionMonthsOpen', 'Promo2Weeks', 
            'StoreType', 'Assortment', 'PromoInterval', 
            'CompetitionOpenSinceYear', 'Promo2SinceYear', 
            'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 
            'StateHoliday_bool_fw', 'StateHoliday_bool_bw', 'SchoolHoliday_fw', 
            'SchoolHoliday_bw']
DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types', 'missing']].T

                         uniques        types missing
Store                       1115      numeric       0
DayOfWeek                      7      numeric       0
Year                           3      numeric       0
Month                         12      numeric       0
Day                           31      numeric       0
StateHoliday                   4  categorical       0
CompetitionMonthsOpen         25      numeric       0
Promo2Weeks                   26      numeric       0
StoreType                      4  categorical       0
Assortment                     3  categorical       0
PromoInterval                  4  categorical       0
CompetitionOpenSinceYear      21      numeric       0
Promo2SinceYear                8      numeric       0
State                         12  categorical       0
Week                          52      numeric       0
Events                        22  categorical       0
Promo_fw                       6      numeric       0
Promo_bw                       6      numeric       0
StateHoliday_bool_fw           3      numeric       0
StateHoliday_bool_bw           3      numeric       0
SchoolHoliday_fw               8      numeric       0
SchoolHoliday_bw               8      numeric       0

## Continuos Vars

In [8]:
contin_vars = ['CompetitionDistance', 
               'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC', 
               'Precipitationmm', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 
               'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 
               'trend_DE', 'AfterStateHoliday_bool', 'BeforeStateHoliday_bool', 
               'Promo', 'SchoolHoliday', 'StateHoliday_bool']
DataFrameSummary(df_train[contin_vars]).summary().loc[['uniques', 'types', 'missing']].T

                        uniques    types missing
CompetitionDistance         654  numeric       0
Max_TemperatureC             50  numeric       0
Mean_TemperatureC            45  numeric       0
Min_TemperatureC             40  numeric       0
Precipitationmm              40  numeric       0
Max_Humidity                 52  numeric       0
Mean_Humidity                71  numeric       0
Min_Humidity                 93  numeric       0
Max_Wind_SpeedKm_h           42  numeric       0
Mean_Wind_SpeedKm_h          27  numeric       0
CloudCover                    9  numeric       0
trend                        67  numeric       0
trend_DE                     38  numeric       0
AfterStateHoliday_bool      136  numeric       0
BeforeStateHoliday_bool     147  numeric       0
Promo                         2     bool       0
SchoolHoliday                 2     bool       0
StateHoliday_bool             2     bool       0

## Normalización en continuas y LabelEncode en Categoricas

In [10]:
cat_maps = [(o, LabelEncoder()) for o in cat_vars]
contin_maps = [([o], StandardScaler()) for o in contin_vars]
mapper_cat = DataFrameMapper(cat_maps)
_ = mapper_cat.fit(df_train)
# Assortment es la novena posición en cat_maps
N = 10
print(list(zip(df_train['Assortment'].values[:N], mapper_cat.transform(df_train)[:,9][:N])))
print(list(zip(df_train['Events'].values[:N], mapper_cat.transform(df_train)[:,15][:N])))
print(list(zip(df_train['Year'].values[:N], mapper_cat.transform(df_train)[:,2][:N])))

[('a', 0), ('a', 0), ('a', 0), ('c', 2), ('a', 0), ('a', 0), ('c', 2), ('a', 0), ('c', 2), ('a', 0)]
[('Fog', 0), ('Fog', 0), ('Fog', 0), ('Sunny', 20), ('Sunny', 20), ('Sunny', 20), ('Rain', 10), ('Rain', 10), ('Fog', 0), ('Sunny', 20)]
[(2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2), (2015, 2)]

In [11]:
mapper_cont = DataFrameMapper(contin_maps)
_ = mapper_cont.fit(df_train)
N = 10
print(df_train['CompetitionDistance'].values[:N])
print(mapper_cont.transform(df_train)[:, 0][:N])
# La hacemos con todas ahora
df_train[cat_vars] = mapper_cat.transform(df_train)
df_test[cat_vars] = mapper_cat.transform(df_test)
df_train[contin_vars] = mapper_cont.transform(df_train)
df_test[contin_vars] = mapper_cont.transform(df_test)

[ 1270.   570. 14130.   620. 29910.   310. 24000.  7520.  2030.  3160.]
[-0.51104292 -0.59341201  1.00219483 -0.5875285   2.85902934 -0.62400624
  2.16359893  0.22439533 -0.42161363 -0.28864639]

In [ ]:
DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types']]

## Final processing

In [13]:
df_train.shape

(1017209, 81)

In [14]:
df_sales = df_train[df_train.Sales!=0]
df_sales.shape

(844338, 81)

In [15]:
df_test.reset_index(inplace=True)
df_sales.reset_index(inplace=True)
df_sales.to_feather('feathers/train_normalized_data.fth')
df_test.to_feather('feathers/test_normalized_data.fth')

In [16]:
(df_test['Open'] == 0).sum()

5984

In [17]:
(df_sales['Open'] == 0).sum()

0

In [18]:
(df_train['CompetitionDistance'].isna()).sum()

0